body{
  background-color: hsl(0, 0%, 10%);
}

.to-do-list{
  font-family: Arial,sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 4rem;
  color: white;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: hsla(120, 70%, 34%, 0.81);
}
.add-button:hover{
  background-color: hsla(120, 70%, 24%, 0.81);
}
.delete-button{
  background-color: hsl(0, 80%, 55%);
}
.delete-button:hover{
  background-color: hsl(0, 80%, 45%); 
}
.move-button{
  background-color: rgb(63, 63, 234);
}
.move-button:hover{
  background-color: rgb(14, 14, 166);
}
.down-button{
  background-color: rgb(87, 212, 231);
}
.down-button:hover{
  background-color: rgb(39, 178, 200);
}

input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid rgb(0, 0, 80%);
  border-radius: 5px;
  color: black;
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsl(0, 0%, 85%,0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
}
.delete-button, .move-button, .down-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
  border-radius: 8px;
}